@import url('https://fonts.googleapis.com/css?family=Advent+Pro&display=swap');
* {
	box-sizing: border-box;
	transition: margin ease-out .4s;
}
html, body {
	height: 100%;
	margin: 0;
	padding: 0;
	transition: .4s;
	user-select: none;
}
/* general colour variables */
html {
	font-family: 'Advent Pro', sans-serif;
	background: var(--grey-white);
	--grey-white: #dfdfdf;
	--white: #efefef;
	--black: #22252A;
	--blue: #2c3e50;
	--alwaysblue: #2c3e50;
	--light-blue: #455E76;
	--gold: rgb(255, 167, 0);
	--alsogold: 255, 167, 0;
	--gold2: rgb(255, 167, 0);
}
html[data-theme='dark'] {
	--bg-main: linear-gradient(45deg, #1C2437, #455880);
	--grey-white: #22252A;
	--blue: rgb(255, 167, 0);
	/* --gold:#2c3e50; */
	--main-text-color: #B5B5B5;
	--white: #2d3035;
	--gold2: #2c3e50;
}


/* html {
	font-family: 'Advent Pro', sans-serif;
	background: var(--grey-white);
	--grey-white: #dfdfdf;
	--white: #efefef;
	--black: #2b2b2b;
	--blue: #2c3e50;
	--alwaysblue: #2c3e50;
	--light-blue: #455E76;
	--gold: rgb(255, 167, 0);
	--alsogold: 255, 167, 0;
	--gold2: rgb(255, 167, 0);
}
html[data-theme='dark'] {
	--bg-main: linear-gradient(45deg, #1C2437, #455880);
	--grey-white: #333333;
	--blue: rgb(255, 167, 0);
	
	--main-text-color: #B5B5B5;
	--white: #434343;
	--gold2: #2c3e50;
} */
body {
	padding-top: 100px;
	background-image: url(index-main.jpg);
	background-size: 100%;
	background-attachment: fixed;
}
h3 {
	font-size: 2.5em;
}
.card p {
	font-size: 1.4em;
}
/* Float four columns side by side */

.column {
	float: left;
	width: 16.6%;
	padding: 0 10px;
}
.column:first-child {
	padding-left: 0px;
}
.column:last-child {
	padding-right: 0px;
}
/* Remove extra left and right margins, due to padding. */

.row {
	margin: 0 -5px;
}
/* Clear floats after the columns */

.row:after {
	content: "";
	display: table;
	clear: both;
}
/* Style the counter cards */

.card {
	padding: 10px;
	text-align: center;
}
.buttons-container {
	margin: 0;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	padding-top: 10px;
	width: max-content;
}
.buttons {
	height: auto;
	width: 100px;
}
.today {
	box-shadow: inset 0px 0px 0px 2px greenyellow;
	border-radius: 100%;
}
.today td {
	background: rgba(var(--alsogold), 1);
	color: var(--alwaysblue);
	font-weight: bold;
}
.nextPrayer {
	box-shadow: inset 0px 0px 0px 2px var(--gold), 0px 0px 10px 5px rgba(var(--alsogold),0.1);
	border-radius: 20px;
	background-color: var(--white);
}
.smallerBox {
	border-radius: 20px;
	color: var(--blue);
	text-align: center;
	margin: 10px;
	background: var(--grey-white);
	box-shadow: inset 15px 15px 32px rgba(0, 0, 0, 0.062);
}
.mainBox {
	background-color: var(--white);
	padding: 15px;
	padding-bottom:10px;
	width: 85%;
	color: var(--blue);
	box-shadow: 15px 15px 32px rgba(0, 0, 0, 0.062);
	min-width: 300px;
	max-width: 81vw;
	transition: width ease-out .4s;
	border-radius: 15px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
}
/* switch for night mode */

input[type=checkbox] {
	height: 0;
	width: 0;
	visibility: hidden;
}
label {
	cursor: pointer;
	text-indent: -9999px;
	width: 45px;
	height: 23px;
	background: var(--grey-white);
	float: right;
	border-radius: 100px;
	position: relative;
	margin-right: 10px;
	box-shadow: inset 15px 15px 32px rgba(0, 0, 0, 0.062);
}
label:after {
	content: '';
	position: absolute;
	top: 3px;
	left: 3px;
	width: 20px;
	height: 17px;
	background: var(--blue);
	border-radius: 100px;
	transition: 0.4s;
}
input:checked+label {
	background: var(--grey-white);
}
input:checked+label:after {
	background: var(--blue);
}
input:checked+label:after {
	left: calc(100% - 5px);
	transform: translateX(-100%);
}
label:active:after {
	width: 25px;
}
.poly {
	clip-path: polygon(66% 95%, 100% 88%, 100% 100%, 0 100%, 0 81%);
	background: var(--white);
	height: 103vh;
	margin-top: -100px;
}
.poly2 {
	clip-path: polygon(66% 95%, 100% 88%, 100% 100%, 0 100%, 0 81%);
	background: var(--grey-white);
	height: 103vh;
	margin-top: -80vh;
}
.content {
	background-color: var(--grey-white);
	text-align: center;
	color: var(--main-text-color);
}
.NextPrayerTime {
	float: left;
	margin: 0 10px;
}

#date {
	color: var(--gold);
	width: 100%;
	margin-top: -80px;
	display: flex;
}

#englishDate {
	margin-left: 130px;
	margin-right: 40%;
	text-align: center;
}

#islamicDate {
	text-align: center;
}

/* Responsive columns */

@media screen and (max-width: 1340px) {
	.mainBox {
		width: 90%;
	}
}
@media screen and (max-width: 1200px) {
	body {
		background-image: none;
	}
	body img {
		height: 100vh;
		width: 100%;
		object-fit: cover;
	}
	.column {
		width: 33.333%;
		display: block;
	}
	.column:first-child, .column:nth-child(4) {
		padding-left: 5px;
	}
	.coloumn:nth-child(4), .column:nth-child(5) {
		margin-bottom: 0px;
	}
	.column:nth-child(3) {
		padding-right: 5px;
	}
	.column:last-child {
		padding-right:5px;
	}
	.mainBox {
		margin-bottom: 5%;
		transform: translate(-50%, 25%);
		top: 5%;
	}
	.poly {
		clip-path: polygon(67% 98%, 100% 90%, 100% 100%, 0 100%, 0 90%);
		background: var(--white);
		height: 100vh;
		margin-top: -95px;
	}
	.poly2 {
		clip-path: polygon(67% 98%, 100% 90%, 100% 100%, 0 100%, 0 90%);
	}
	
	#date {
		color: var(--gold);
		width: 100%;
		display: flex;
	}

	#englishDate {
		color: var(--blue);
		margin-left: 10%;
		margin-right: 33%;
	}
}
@media screen and (max-width: 680px) {
	.mainBox {
		width: 100%;
		max-width: 90vw;
		position: absolute;
		top: 2.5%;
		left: 50%;
		margin-right: -50%;
		transform: translate(-50%, 15%);
	}
			
	#date {
		color: var(--gold);
		width: 100%;
		display: block;
	}

	#englishDate {
		color: var(--blue);
		width: 100%;
		margin-left: 0;
		margin-right: 33%;
		text-align: center;
	}

	.column {
		padding-right: 5px;
		padding-left: 5px;
	}
	.column {
		width: 100%;
		display: block;
		/* margin-bottom: 20px; */
	}
	
	.poly {
		clip-path: polygon(0 87%, 100% 92%, 100% 100%, 0% 100%);
		background: var(--white);
		height: calc(20vh + 1350px);
		margin-top: 20px;
	}
	.poly2 {
		clip-path: polygon(0 87%, 100% 92%, 100% 100%, 0% 100%);
	}
	.table {
		overflow-x: auto;
		width: 100%;
	}
	.list-item {
		display: none;
	}
	table tr {
		border-bottom: 1px solid rgb(0, 0, 0);
		display: block;
		margin-bottom: .625em;
	}
	table td {
		border-bottom: 1px solid rgb(0, 0, 0);
		display: block;
		font-size: .8em;
		text-align: right;
	}
	table td::before {
		float: left;
		font-weight: bold;
	}
	td:nth-of-type(1):before {
		content: "Weekday";
	}
	td:nth-of-type(2):before {
		content: "Date (English)";
	}
	td:nth-of-type(3):before {
		content: "Date (Arabic)";
	}
	td:nth-of-type(4):before {
		content: "Fajr";
	}
	td:nth-of-type(5):before {
		content: "Sunrise";
	}
	td:nth-of-type(6):before {
		content: "Zhuhr";
	}
	td:nth-of-type(7):before {
		content: "Asr";
	}
	td:nth-of-type(8):before {
		content: "Maghrib";
	}
	td:nth-of-type(9):before {
		content: "Isha";
	}
}

@media screen and (max-width: 1160) { 
	
	.LocationMode{
		padding-right: 40% !important;
		
	}
}

@media screen and (max-width: 930px) { 
	
	.LocationMode{
		padding-right: 30% !important;
		
	}
}

@media screen and (max-width: 800px) { 
	
	.LocationMode{
		padding-right: 20% !important;
		
	}
}

@media screen and (max-width: 620px) { 
	
	.LocationMode{
		padding-right: 10% !important;
		
	}
}

@media screen and (max-width: 619px) {
	.inline {
		display: inline !important;
	}
	
	.LocationMode{
		padding-right: 0px !important;
		
	}
}

@media screen and (max-width: 440px) {
	.inline {
		display: inline !important;
	}
	
	.LocationMode{
		padding-right: 0px !important;
		
	}
	
	.mainBox {
		transform: translate(-50%, 15%);
	}
			
	#date {
		color: var(--gold);
		width: 100%;
		display: block;
	}

	#englishDate {
		color: var(--blue);
		width: 100%;
		margin-left: 0;
		margin-right: 33%;
		text-align: center;
	}
}

@media screen and (max-width: 400px) {
	.inline {
		display: inline !important;
	}
	
	.LocationMode{
		padding-right: 0px !important;
		
	}

	.mainBox {
		transform: translate(-50%, 18%);
	}
			
	#date {
		color: var(--gold);
		width: 100%;
		display: block;
	}

	#englishDate {
		color: var(--blue);
		width: 100%;
		margin-left: 0;
		margin-right: 33%;
		text-align: center;
	}
}

@media screen and (max-width: 350px) {
	.inline {
		display: inline !important;
	}
	
	.LocationMode{
		padding-right: 0px !important;
		
	}
} 

@media screen and (max-width: 325px) {

	.inline {
		display: inline !important;
	}
	
	.LocationMode{
		padding-right: 0px !important;
		
	}
}

@media screen and (max-width: 300px) {
	.inline {
		display: inline !important;
	}
	
	.LocationMode{
		padding-right: 0px !important;
		
	}
} 

.table4NextMonth {
	background-color: var(--white);
	padding-top: 40px;
}
.tableContainer {
	padding: 10px;
	background: linear-gradient(var(--white));
	/* max-width:100vw; */
	margin: auto;
}
.table1 td, tr {
	border-bottom: 2px solid var(--blue);
}
table {
	width: 80%;
	border-collapse: collapse;
	max-width: 100vw;
	overflow: hidden;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
	margin: auto;
	margin-top: 130px;
	border: 20px solid var(--grey-white);
	border-radius: 15px;
	background: var(--grey-white);
	table-layout: fixed;
}
th, td {
	padding: 15px;
	background-color: var(--white);
	color: var(--blue);
}
th {
	text-align: left;
}
.todayTimes td {
	background: rgba(var(--alsogold), 0.7);
	color: var(--black)
}
button {
	color: var(--gold2);
	box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.4);
	transition: .4s;
	padding: 12px 18px;
	background: var(--blue);
	border-radius: 7px;
	border: 2px solid var(--gold2);
}
#previous:disabled, #reset:disabled, #next:disabled {
	opacity: 0.5;
}
#weekly:disabled {
	background: var(--gold2);
	color: var(--blue);
}
#monthly:disabled {
	background: var(--gold2);
	color: var(--blue);
}
#yearly:disabled {
	background: var(--blue);
	color: var(--gold2);
	display: none;
}
.buttonTable-container {
	background: var(--white);
	margin: 0;
}
@media screen and (max-width: 680px) {
	table {
		width: 100%;
	}

	.inline {
		display: inline;
	}

	.LocationMode{
		padding-right: 0%;
		
	}
}
.select-css{
	color: var(--blue);
    background: var(--grey-white);
    outline: none;
    padding-left: 15px;
    height: 40px;
    border: 1px solid var(--gold);
	border-radius: 10px;
}
.LocationMode{
	/* padding-left:10px; */
	padding-right: 60%;
	margin-top:-18px;
	font-weight: bold;
    
}
.LocationMode select{
	box-shadow: 15px 15px 32px rgba(0, 0, 0, 0.1);
	min-width:20%;
	text-align-last:center;
}

.align{
	margin-top:-18px;
	font-weight: bold;
}

.inline {
	display: flex;
	justify-content: center;
	align-self: center;
}

.toggle-buttons {
	width: 100%;
}

.errorMsg {
    /* margin: 2.5% 20%;*/
	padding: 60px 65px;
    border-radius: 10px;
    z-index: 10;
    position: fixed;
	background-color: var(--white);
	color:var(--blue);
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
	display: none;
	font-size:120%;
}

.errorMsg p {
	color: var(--color-headings);
	
}
#closeMsg{
	background:var(--gold2);
	border-radius:10px;
	padding:5px 25%;
	margin-top:500px;
}

.msgOverlay {
    background: rgba(0, 0, 0, .85);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
	display: none;
	
}