@import url('https://fonts.googleapis.com/css?family=Advent+Pro&display=swap');

/* padding-block: 2rem;
	width: min(95%, 70rem);
	margin-inline: auto; */
* {
	box-sizing: border-box;
	transition: margin ease-out .4s;
}
html, body {
	height: 100%;
	margin: 0;
	padding: 0;
	transition: .4s;
	/* user-select: none; */
}
/* general colour variables */
html {
	font-family: 'Advent Pro', sans-serif;
	background: var(--grey-white);
	--grey-white: #dfdfdf;
	--white: #efefef;
	--black: #22252A;
	--blue: #2c3e50;
	--green: #4ec529;
	--alwaysblue: #2c3e50;
	--light-blue: #455E76;
	--gold: rgb(255, 167, 0);
	--alsogold: 255, 167, 0;
	--gold2: rgb(255, 167, 0);
}
html[data-theme='dark'] {
	--bg-main: linear-gradient(45deg, #1C2437, #455880);
	--grey-white: #22252A;
	--blue: rgb(255, 167, 0);
	--green: #4ec529;
	/* --gold:#2c3e50; */
	--main-text-color: #B5B5B5;
	--white: #2d3035;
	--gold2: #2c3e50;
}


body {
	padding-top:20px;
	background-image: url(index-main5.jpg);
	/* background-image: url(https://source.unsplash.com/random/1920x1080/?blue+fog+mountains); */
	background-size: 100%;
	background-attachment: fixed;
	background-size: cover;
}
h3 {
	font-size: 2.5em;

}
h4{
	margin:0;
	font-size:2rem;
}
.card p {
	font-size: 1.4em;
}
/* Float four columns side by side */



.buttons-container {
	margin: 0;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	padding-top: 10px;
	width: max-content;
}
.buttons {
	height: auto;
	width: 100px;
}
.today {
	box-shadow: inset 0px 0px 0px 2px greenyellow;
	border-radius: 100%;
}
.today td {
	background: rgba(var(--alsogold), 1);
	color: var(--alwaysblue);
	font-weight: bold;
}
.islamicHoliday td {
	color: var(--green);
	font-weight: bold;
}
.islamicHoliday h3 {
	color: var(--green);
	font-weight: bold;
}
.nextPrayer {
	box-shadow: inset 0px 0px 0px 2px var(--gold), 0px 0px 10px 5px rgba(var(--alsogold),0.1);
	border-radius: 20px;
	background-color: var(--white);
}

.mainPrayerContainer{
	height:80%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0;
	width: 1;
}
.mainBox {
	background-color: var(--white);
	color: var(--blue);
	box-shadow: 15px 15px 32px rgba(0, 0, 0, 0.062);
	transition: width ease-out .4s;
	border-radius: 15px;
	padding: 15px 15px 10px 15px;
	/* width:80vw; */
}

 .smallerBox{
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	border-radius: 20px;
	color: var(--blue);
	text-align: center;
	background: var(--grey-white);
	box-shadow: inset 15px 15px 32px rgba(0, 0, 0, 0.062);
	
} 

.card {
	padding: 10px 30px;
	text-align: center;
	display:flex;
	flex-direction: column;
	justify-content: space-between;
	align-items:center;
	flex-wrap: wrap;
	flex-basis: 16%;
	/* box-shadow: inset 0px 0px 0px 2px var(--gold), 0px 0px 10px 5px rgba(var(--alsogold),0.1); */
}
.card h3{
	margin: 0.5em 0 0 0 ;
}
.card p{
	margin-top: 1em;
}

/* switch for night mode */

input[type=checkbox] {
	height: 0;
	width: 0;
	visibility: hidden;
}
label {
	cursor: pointer;
	text-indent: -9999px;
	width: 45px;
	height: 23px;
	background: var(--grey-white);
	float: right;
	border-radius: 100px;
	position: relative;
	margin-right: 10px;
	box-shadow: inset 15px 15px 32px rgba(0, 0, 0, 0.062);
}
label:after {
	content: '';
	position: absolute;
	top: 3px;
	left: 3px;
	width: 20px;
	height: 17px;
	background: var(--blue);
	border-radius: 100px;
	transition: 0.4s;
}
input:checked+label {
	background: var(--grey-white);
}
input:checked+label:after {
	background: var(--blue);
}
input:checked+label:after {
	left: calc(100% - 5px);
	transform: translateX(-100%);
}
label:active:after {
	width: 25px;
}
.poly {
	clip-path: polygon(58.6% 33.8%, 100% 0%, 100% 100%, 0% 100%, 0% 0%);
	background: var(--white);
	 height: 25vh;
	margin-top: -5vh;
}
.poly2 {
	clip-path: polygon(66% 95%, 100% 88%, 100% 100%, 0 100%, 0 81%);
	background: var(--grey-white);
	height: 103vh;
	margin-top: -80vh;
}
.content {
	background-color: var(--grey-white);
	text-align: center;
	color: var(--main-text-color);
}
.NextPrayerTime {
	float: left;
	margin: 0 10px;
}
.topBanner{
	display:flex;
	justify-content: space-evenly;
	align-items:center;
	flex-wrap:wrap;
	margin: 0 20px;
	padding: 0 20px;
	background-color: var(--white);
	color: var(--gold);
	box-shadow: 15px 15px 32px rgba(0, 0, 0, 0.062);
	border-radius: 15px;
}

#date h3{
	margin:25px;
}


#islamicDate h3, #englishDate h3{
	font-size: 1.9em;
}
#islamicHoliday{
	min-width: 0%;
	text-align: center;
	background: var(--grey-white);
	margin:10px;
	border-radius:10px;
	box-shadow: inset 15px 15px 32px rgb(0 0 0 / 6%), inset 0px 0px 0px 2px var(--gold);
	flex-grow:1;
	flex-shrink: 0;
}
#islamicHoliday h3{
	margin:10px;
	color:var(--blue);
} 
.bottomContentContainer{
	display: grid;
	grid-template-columns: 
	repeat(3, 1fr);
	gap:1.5rem;
	padding-block: 2rem;
	width: min(95%, 70rem);
	margin-inline: auto;
}
.bottomContentContainer-container{
	padding:20px;
	background-color: #fff;
	border-radius:10px;
	box-shadow: 0px 4px 24px 1px #0000000D;
	font-size: larger;
}
.grid-col-span-2-bottomc{
	grid-column: span 2;
}
.grid-col-span-3-bottomc{
	grid-column: span 3;
}
.fasting-dua {
	text-align: center;
	font-size:1.75rem;
}
.Hadith-narrator{
	font-weight: 600;
	margin-bottom: 0.5em;
}
.Hadith-main{
margin:auto;
}
.Hadith-book{
	font-weight: 450;
	margin-top:0.5em;
	font-style: italic;
}
.next-important-container{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	text-align: center;
	background-color: var(--grey-white);
	border-radius:10px;
}
.next-important-container h1, .next-important-container p, .next-prayer-container h1, .next-prayer-container p {
	margin: 0rem;
	padding:0;	
}

.next-important-container p{
	font-size: 1.5rem;
}
.next-important-container h1, .next-prayer-container h1{
	font-size: 8rem;
}
.important-date-name p{
	font-size:2rem;
	padding:10px;
}
.next-prayer-container{
	display: flex;
	flex-direction: column;
	align-items: center;
	padding:0;
	margin:0;

}
.next-prayer-hour, .next-prayer-min{
	display: flex;
	flex-direction: row;
	align-content: space-between;
	align-items: baseline;
	justify-content: center;
}
.next-prayer-container h1 {
	line-height: 7rem;
}






/* Responsive columns */

@media screen and (max-width: 1340px) {
	.mainBox {
		width: 90%;
		margin: 0;
	}
}
@media screen and (max-width: 1200px) {
	body {
		background-image: none;
	}
	body img {
		height: 100vh;
		width: 100%;
		object-fit: cover;
	}
	.smallerBox{
		grid-template-columns: repeat(4, 1fr);
	}
	.grid-col-span-2{
		grid-column: span 2;
	}


	.poly {
		clip-path: polygon(58.6% 33.8%, 100% 0%, 100% 100%, 0% 100%, 0% 0%);
		background: var(--white);
		height: 25vh;
		margin-top: -2vh;
	}
	.poly2 {
		clip-path: polygon(67% 98%, 100% 90%, 100% 100%, 0 100%, 0 90%);
	}
	
}


@media screen and (max-width: 680px) {

	h3{
		margin:0;
		padding:10px;
	}

	.card{
		flex-direction: row;
		justify-content: space-around;
		padding:0;
	}
	.card h3{
		margin:0.25em 0;
	}
	.topBanner{
		flex-direction: column;
	}
	#islamicHoliday{
		min-width:80%;
		flex-grow: 1;
	}
	.smallerBox{
		grid-template-columns: repeat(1, 1fr);
	}
	.grid-col-span-2{
		grid-column: span 1;
	}
	#date h3{
		margin:10px;
	}
	.mainPrayerContainer{
		align-items: flex-start;
		gap:20px;
		margin-top: 20px;
		height: auto;
	}



	
	.poly {
		clip-path: polygon(58.6% 33.8%, 100% 0%, 100% 100%, 0% 100%, 0% 0%);
		background: var(--white);
		height: 25vh;
		margin-top: 5vh; 
	}
	.table {
		overflow-x: auto;
		width: 100%;
	}
	.list-item {
		display: none;
	}
	table tr {
		border-bottom: 1px solid rgb(0, 0, 0);
		display: block;
		margin-bottom: .625em;
	}
	table td {
		border-bottom: 1px solid rgb(0, 0, 0);
		display: block;
		font-size: .8em;
		text-align: right;
	}
	table td::before {
		float: left;
		font-weight: bold;
	}
	td:nth-of-type(1):before {
		content: "Weekday";
	}
	td:nth-of-type(2):before {
		content: "Date (English)";
	}
	td:nth-of-type(3):before {
		content: "Date (Arabic)";
	}
	td:nth-of-type(4):before {
		content: "Fajr";
	}
	td:nth-of-type(5):before {
		content: "Sunrise";
	}
	td:nth-of-type(6):before {
		content: "Zhuhr";
	}
	td:nth-of-type(7):before {
		content: "Asr";
	}
	td:nth-of-type(8):before {
		content: "Maghrib";
	}
	td:nth-of-type(9):before {
		content: "Isha";
	}
}

@media screen and (max-width: 1160) { 
	
	.LocationMode{
		padding-right: 40% !important;
		
	}
}

@media screen and (max-width: 930px) { 
	
	.LocationMode{
		padding-right: 30% !important;
		
	}
}

@media screen and (max-width: 800px) { 
	
	.LocationMode{
		padding-right: 20% !important;
		
	}
}

@media screen and (max-width: 620px) { 
	
	.LocationMode{
		padding-right: 10% !important;
		
	}
}

@media screen and (max-width: 619px) {
	.inline {
		display: inline !important;
	}
	
	.LocationMode{
		padding-right: 0px !important;
		
	}
}

@media screen and (max-width: 440px) {
	.inline {
		display: inline !important;
	}
	
	.LocationMode{
		padding-right: 0px !important;
		
	}

}

@media screen and (max-width: 400px) {
	.inline {
		display: inline !important;
	}
	
	.LocationMode{
		padding-right: 0px !important;
		
	}


}

@media screen and (max-width: 350px) {
	.inline {
		display: inline !important;
	}
	
	.LocationMode{
		padding-right: 0px !important;
		
	}
} 

@media screen and (max-width: 325px) {

	.inline {
		display: inline !important;
	}
	
	.LocationMode{
		padding-right: 0px !important;
		
	}
}

@media screen and (max-width: 300px) {
	.inline {
		display: inline !important;
	}
	
	.LocationMode{
		padding-right: 0px !important;
		
	}
} 

.table4NextMonth {
	background-color: var(--white);
	padding-top: 40px;
}
.tableContainer {
	padding: 10px;
	background: linear-gradient(var(--white));
	margin: auto;
}
.table1 td, tr {
	border-bottom: 2px solid var(--blue);
}
table {
	width: 80%;
	border-collapse: collapse;
	max-width: 100vw;
	overflow: hidden;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
	margin: auto;
	margin-top: 130px;
	border: 20px solid var(--grey-white);
	border-radius: 15px;
	background: var(--grey-white);
	table-layout: fixed;
}
th, td {
	padding: 15px;
	background-color: var(--white);
	color: var(--blue);
}
th {
	text-align: left;
}
.todayTimes td {
	background: rgba(var(--alsogold), 0.7);
	color: var(--black)
}
button {
	color: var(--gold2);
	box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.4);
	transition: .4s;
	padding: 12px 18px;
	background: var(--blue);
	border-radius: 7px;
	border: 2px solid var(--gold2);
}
#previous:disabled, #reset:disabled, #next:disabled {
	opacity: 0.5;
}
#monthly:disabled, #holidays:disabled, #weekly:disabled {
	background: var(--gold2);
	color: var(--blue);
}
.buttonTable-container {
	background: var(--white);
	margin: 0;
}
@media screen and (max-width: 680px) {
	table {
		width: 100%;
	}

	.inline {
		display: inline;
	}

	.LocationMode{
		padding-right: 0%;
		
	}
}
.select-css{
	color: var(--blue);
    background: var(--grey-white);
    outline: none;
    padding-left: 15px;
    height: 40px;
    border: 1px solid var(--gold);
	border-radius: 10px;
}
.LocationMode{
	padding-right: 60%;
	margin-top:-18px;
	font-weight: bold;
    
}
.LocationMode select{
	box-shadow: 15px 15px 32px rgba(0, 0, 0, 0.1);
	min-width:20%;
	text-align-last:center;
}

.align{
	margin-top:-18px;
	font-weight: bold;
}

.inline {
	display: flex;
	justify-content: center;
	align-self: center;
}

.toggle-buttons {
	width: 100%;
}

.errorMsg {
	padding: 60px 65px;
    border-radius: 10px;
    z-index: 10;
    position: fixed;
	background-color: var(--white);
	color:var(--blue);
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
	display: none;
	font-size:120%;
}

.errorMsg p {
	color: var(--color-headings);
	
}
#closeMsg{
	background:var(--gold2);
	border-radius:10px;
	padding:5px 25%;
	margin-top:500px;
}

.msgOverlay {
    background: rgba(0, 0, 0, .85);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
	display: none;
	
}
